.titulo{
    width:auto;
    height: 18px;
    background-color: black;
    text-align: center;
    border-bottom: 3px solid green;
    color: white;
    font-size: 9pt;
}
#busqueda{
    left: 10px;
    top: 40px;
    width: 170px;
    height: 20px;
    font-size: 8pt;
    color: black;
    position: absolute;
}
.selectbuscar{
    font-size: 8pt;
    border-radius: 4px;
    border: 1px solid black;
    width: 100px;
    height: 20px;
    background-color: white;
    padding: 1px;
    outline: none;
    color:black;
    text-align: center;
}
#parametro{
    left: 185px;
    top:40px;
    width: auto;
    height: 20px;
    font-size: 8pt;
    color: black;
    position: absolute;
    text-align: right;
}
.campobuscar{
    height: 20px;
    font-size: 8pt;
    width: 152px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    text-align:center;
}
#divus_buscar{
    left: 340px;
    top: 40px;
    width: auto;
    height: 20px;
    position: absolute;
}
input.cierre2{
    color:white;
    font-size: 8pt;
    height: 20px;
    border-bottom: 1px;
    border: 1px solid #000000;-webkit-border: 1px 1px 1px 1px;
    background-color: black;
}
.cierre2::-moz-focus-inner{border:0;}
.cierre2:hover{background-color: green;}
.cierre2:before{background-color: black;}
#toolbar{
    left: 600px;
    top: 40px;
    width:400px;
    height: auto;
    position: absolute;
    vertical-align: text-bottom;
    text-align: right;
    font-size: 10pt;
}
div.rtabla{
    position: absolute;
    top: 70px;
    left: 10px;
    width: 1000px;
    height: auto;
    border: 2px;
}
.msj1{
    text-align:center;
    text-shadow:5px 5px 5px #000000;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    letter-spacing: 2.4px;
    word-spacing: 3.2px;
    color: #0033A3;
    font-weight: normal;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}
.imgico{
    height: 50px;
    width: auto;
}
.divcentrado{
    width: 100%;
    height: 100%;
    margin: auto;;
}